.secondary__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .secondary__text {
    max-width: 600px;
    padding-bottom: 50px;

    &--title {
      text-align: center;
      font-weight: 700;
      line-height: 40px;
      margin-top: 0.64em;
      font-size: 32px;
    }

    p {
      margin-top: 1.56em;
      margin-bottom: -0.46em;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.003em;
      padding: 0 20px;
      text-align: justify;
    }
  }
}
